@model IEnumerable<AdministartionConsole.Models.Dto.DictionaryDto>

@{
    ViewData["Title"] = "Dictionary";
}

<style>
    .button {
        background-color: #4CAF50;
        border-radius: 8px;
        color: white;
        padding: 10px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
    }

    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>

<h2>Current Dictionary List:</h2>

<input type="button" class="button" value="Add" onclick="location.href='@Url.Action("Create", "Dictionary")'" />
<br />

<table id="customers">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Name)</th>
        <th>@Html.DisplayNameFor(x => x.Value)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Dictionary", new { dictionaryName = item.Name })
            </td>
        </tr>
    }
</table>