@model IEnumerable<AdministartionConsole.Models.ViewModel.CustomerViewModel>
@{
    ViewData["Title"] = "Customer data";
}

<div>
    <h2>Customer current data:</h2>
</div>

<div>
    @using(Html.BeginForm("GetCustomer", "Customer", FormMethod.Get))
    {
        <b>Find Customer: </b> <br/>
        <span>Active: </span> @Html.RadioButton("AccountStatus", "Active", false)
        <span>NotActive: </span> @Html.RadioButton("AccountStatus", "NotActive", false)
        <span>Blocked: </span> @Html.RadioButton("AccountStatus", "Blocked", false)
        <span>All: </span> @Html.RadioButton("AccountStatus", "All", false)

        <input type="submit" value="Search" />
    }
</div>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
        </tr>

        @foreach(var item in Model)
        {
            <tr style="background:@(item.AccountStatus == "NotActive" ? "IndianRed" : "White")">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PasswordStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
        }
    </table>
</div>